@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.son1{
    background-image: url(./img/02.png);
    background-repeat: no-repeat;
    background-size: cover; 
    h1{
        font-stretch:2rem ultra-condensed ;
    }
}
.box1{
    padding-top: 2.5px;
    opacity: 0.7;
    h1:hover{
        cursor: pointer;
       
    }
}
.box1:hover{
    background-color: rgb(231, 161, 71);
}

.son9{
    h1{
        margin-left: 11rem;
    }
}
.son10{
    h1{
        margin-left: 56rem;
    }
}
.son6{
    padding-top: 14rem;
}
.box14{
    h1{
        font-family: "Ubuntu", sans-serif;
    }
    
}
.box46{
    h1{
        margin-bottom: 2rem;
    }
}
.box48{
    h1{
        margin-bottom: 2rem;
    }
}